
<footer>
  
        <div class="footer">
        <div class="wrapper">
        <div class="footer__email">
        <div>asliceoftoday@gmail.com</div>
        </div>
                                    
        <h5 class="footer__name">By Kanika Dawalia</h5>
                                    
        <h5 class="footer__copy">Copyright &copy; 2019 by A Slice
           Of Life Today All Rights Reserved</h5>
        </div>
        </div>
        </footer>