<!-- ----------------------------Site Header ----------------------------------  -->
<header class="site-header">
  <div class="wrapper">
    <div class="site-header__logo">
      <span style="display:none">Kanika Dawalia</span>
      <!--  <img src="images/logo.jpg" width="150px" height="150px"> -->
    </div>

    <div class="site-header__menu-icon">
      <div class="site-header__menu-icon__top"></div>
      <div class="site-header__menu-icon__middle"></div>
      <div class="site-header__menu-icon__bottom"></div>
    </div>
    <div class="site-header__menu-content">
      <div class="site-header__btn-container">
        <a href="/order" class="btn btn--orange">Place an Order</a>
      </div>

      <nav class="primary-nav primary-nav--pull-right">
        <ul>
          <li><a href="/home#About-section">About</a></li>
          <li><a href="/gallery">Gallery</a></li>
          <li><a href="/home#Videos-section">Videos</a></li>
          <li><a href="/home#Pricing-section">Pricing</a></li>
          <li><a href="/faqs">FAQ</a></li>

          <% if(user) { %>
            <li><a class="btn btn--orange"href="/auth/logout">Logout</a></li>

          <% } else { %>
            <li><a class="btn btn--orange"href="/login">Login</a></li>
   <% } %>
        </ul>
      </nav>
    </div>
  </div>
</header>
