<html>
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css'>
            <meta name="keywords" content="Kanika Dawalia, Sketching, Slice of life,asliceoflifetoday">
            <link rel="stylesheet" href="styles/styles.css">

        <title>Slice of life</title>

        <style>
        .gallery{
    
    max-width: 1200px;
    margin: auto;
    overflow: auto;
}

.grid-box{
    margin: 5px;
    border: 1px solid $mainPurple;
    float: left;
    width: 390px;
    height: 390px;
    
}

.gallery img{
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 20px 7px #DA33FF; 

}
        </style>
    </head>
    <body>
 <!-- ----------------------------Site Header ----------------------------------  -->
 <% include partials/nav.ejs %> 

 <!-- --------------------------------Gallery---------------------------------------->
<div class="page-section">
 <div class="gallery">
     <div class="headline" style="top: 200px;"> <p style= "padding: 50px;">Gallery</p></div>


     <div class="grid-box">
        <img id="myImg" onclick="myFunc(this)" src="images/clientgallery/rana.jpg" alt="Snow">
      </div>
        <!-- The Modal -->
        <div id="myModal" class="modal">
          <span class="close" onclick="modal.style.display='none'">&times;</span>
          <img class="modal-content" id="img01">
          <div id="caption"></div>
        </div>
        <div class="grid-box">
            <img id="myImg" onclick="myFunc(this)" src="images/clientgallery/sankalp.jpg" alt="Snow">
          </div>
            <!-- The Modal -->
            <div id="myModal" class="modal">
              <span class="close" onclick="modal.style.display='none'">&times;</span>
              <img class="modal-content" id="img01">
              <div id="caption"></div>
            </div>
            <div class="grid-box">
                <img id="myImg" onclick="myFunc(this)" src="images/clientgallery/srt.jpg" alt="Snow">
              </div>
                <!-- The Modal -->
                <div id="myModal" class="modal">
                  <span class="close" onclick="modal.style.display='none'">&times;</span>
                  <img class="modal-content" id="img01">
                  <div id="caption"></div>
                </div>
                  

<a href="/auth/login" class="btn btn--orange" style="padding:20px;margin:50px;vertical-align: center;">Add reviews</a>

</div>                                                                                
 </div>
                
<!-- ---------------------------Footer section------------------------------- -->
<% include partials/footer.ejs %> 

            <!-- <script src="scripts/App.js"></script>    -->
            
            <script>
                // Get the modal
              var modal = document.getElementById("myModal");
              
              // Get the image and insert it inside the modal - use its "alt" text as a caption
              var modalImg = document.getElementById("img01");
              var captionText = document.getElementById("caption");
              
              function myFunc(el){
                var ImgSrc=el.src;
                var altText=el.alt;
                modal.style.display = "block";
                modalImg.src = ImgSrc;
                captionText.innerHTML = altText;
              }
              
              window.onclick=function(event)
              { if(event.target==modal)
                { modal.style.display="none";
               } 
              }
              
              var span = document.getElementsByClassName("close")[0];
              
                </script>
              
      
    </body>
</html>