<html>
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css'>
            <meta name="keywords" content="Kanika Dawalia, Sketching, Slice of life,asliceoflifetoday">
            <link rel="stylesheet" href="styles/styles.css">

        <title>Slice of life</title>

        <style>
        .gallery{
    
    max-width: 1200px;
    margin: auto;
    overflow: auto;
}

.grid-box{
    margin: 5px;
    border: 1px solid $mainPurple;
    float: left;
    width: 390px;
    height: 390px;
    
}

.gallery img{
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 20px 7px #DA33FF; 

}
        </style>
    </head>
    <body>
 <!-- ----------------------------Site Header ----------------------------------  -->
  <% include partials/nav.ejs %>  

 <!-- --------------------------------Gallery---------------------------------------->

 <div class="gallery">
     <div class="headline" style="top: 200px;"> <p style= "padding: 50px;">Gallery</p></div>
<div>
<a href="/clientgallery" class="btn btn--orange" style="padding:10px;margin:10px;">Click here to see client gallery</a>

</div>
  <div class="grid-box">
   <img src="images/gallery/adele.jpg">
 </div> 
 <div class="grid-box">
  <img src="images/gallery/agony.jpg">
 </div> 
 <div class="grid-box">
  <img src="images/gallery/aryab.jpg">
 </div> 
 <div class="grid-box">
  <img src="images/gallery/aryac.jpg">
 </div> 
 <div class="grid-box">
  <img src="images/gallery/assasin.jpg">
 </div> 
 <div class="grid-box">
  <img src="images/gallery/bahubali.jpg">
 </div> 
<div class="grid-box">
 <img src="images/gallery/bird.jpg">
</div> 
<div class="grid-box">
 <img src="images/gallery/deer.jpg">
</div> 
<div class="grid-box">
 <img src= "images/gallery/dexter.jpg">
</div> 
<div class="grid-box">
 <img src="images/gallery/lovely.jpg">
</div>
<div class="grid-box">
 <img src="images/gallery/magbeast.jpg">
</div>
<div class="grid-box">
<img src="images/gallery/mockingjay.jpg">
</div>
<div class="grid-box">
 <img src="images/gallery/nlights.jpg">
</div>
 <div class="grid-box">
 <img src="images/gallery/nlights2.jpg">
 </div>
<div class="grid-box">
 <img src="assets/images/gallery/ollena.jpg">
 </div>   
 <div class="grid-box">
 <img src="assets/images/gallery/peacock.jpg">
</div>      
<div class="grid-box">
<img src="assets/images/gallery/rain.jpg">
</div>  
<div class="grid-box">
<img src="assets/images/gallery/srk.jpg">
</div>  
<div class="grid-box">
<img src="assets/images/gallery/tamasha.jpg">
</div>
<div class="grid-box">
<img src="assets/images/gallery/thor.jpg">
</div>
 <div class="grid-box">
   <img src="assets/images/gallery/venom.jpg">
 </div>     
<div class="grid-box">
<img src="assets/images/gallery/dumbeldore.jpg">
</div>     
<div class="grid-box">
 <img src="assets/images/gallery/hannah.jpg">
</div>     
<div class="grid-box">
<img src="assets/images/gallery/harley.jpg">
 </div>     
<div class="grid-box">
<img src="assets/images/gallery/ian.jpg">
</div>     
<div class="grid-box">
<img src="assets/images/gallery/joffrey.jpg">
</div>     
<div class="grid-box">
 <img src="assets/images/gallery/joker.jpg">
</div>
<div class="grid-box">
<img src="assets/images/gallery/jon.jpg">
</div>  
<div class="grid-box">
        <img src="assets/images/gallery/khaleesi.jpg">
        </div>                                      
                                                        
 </div>
                
<!-- ---------------------------Footer section------------------------------- -->
<% include partials/footer.ejs %> 

             <script src="scripts/App.js"></script>               
    </body>
</html>