<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700"
      rel="stylesheet"
      type="text/css"
    />
    <meta
      name="keywords"
      content="Kanika Dawalia, Sketching, Slice of life,asliceoflifetoday"
    />
    <link rel="stylesheet" href="styles/styles.css" />

    <title>Slice of life</title>
  </head>
  <body>
    <!-- ----------------------------Site Header ----------------------------------  -->
    <!-- <% include partials/nav.ejs %> -->

    <!-- ---------------------------Featured section------------------------------- -->

    <div class="Featured">
      <picture>
        <source
          srcset="images/artwork/bnw/adele--large1.jpg"
          1380w
          media="(min-width:1380px)"
        />
        <source
          srcset="images/artwork/bnw/adele--large1.jpg"
          990w
          media="(min-width:990px)"
        />
        <source
          srcset="images/artwork/bnw/adele--small.jpg"
          640w
          media="(min-width:640px)"
        />
        <img
          srcset="images/artwork/bnw/adele--smaller.jpg"
          400w
          alt="adele"
          class="featured__image"
        />
      </picture>

      <!--<div class="slideshow-container">

    <div class="mySlides fade">

        <picture>
            <source srcset="assets/images/artwork/bnw/ian.jpg" 1380w media="(min-width:1380px)">
            <source srcset="assets/images/artwork/bnw/adele--large1.jpg" 990w media="(min-width:990px)">
            <source srcset="assets/images/artwork/bnw/adele--small.jpg" 640w  media="(min-width:640px)">
           <img srcset="assets/images/artwork/bnw/adele--smaller.jpg" 400w  alt="adele" class="featured__image">
          </picture>
    
      <div class="text">Caption Text</div>
    </div>
    
    <div class="mySlides fade">
        <picture>
            <source srcset="assets/images/artwork/color/thor--large.jpg"1380 media="(min-width:1380px)">
            <source srcset="assets/images/artwork/color/thor--medium.jpg" 990w media="(min-width:990px)">
            <source srcset="assets/images/artwork/color/thor--small.jpg" 640w  media="(min-width:640px)">
           <img srcset="assets/images/artwork/color/thor--smaller.jpg" 400w  alt="adele" class="featured__image">
          </picture>
      <div class="text">Caption Two</div>
    </div>
    
    <div class="mySlides fade">
        <picture>
            <source srcset="assets/images/artwork/color/dumb--large.jpg" 1380w media="(min-width:1380px)">
            <source srcset="assets/images/artwork/color/dumb--medium.jpg" 990w media="(min-width:990px)">
            <source srcset="assets/images/artwork/color/dumb--small.jpg" 640w  media="(min-width:640px)">
           <img srcset="assets/images/artwork/color/dumb--smaller.jpg" 400w  alt="adele" class="featured__image">
          </picture>
      <div class="text">Caption Three</div>
    </div>
    
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
    
    </div>

    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span> 
        <span class="dot" onclick="currentSlide(2)"></span> 
        <span class="dot" onclick="currentSlide(3)"></span> 
      </div> -->

      <!-- <div class="featured__text-content">
<div class="wrapper">
 <h1 class="featured__title">Capture</h1>
 <h2 class="featured__subtitle">Your</h2> 
 <h2 class="featured__description">Moments </h2> 
  <p><a href="#" class="btn btn--orange btn--large">Get Started Today</a></p> 
</div>
</div>-->
    </div>
    <!-- --------------------------------About Section ----------------------------------->
    <div class="page-section" id="About-section">
      <div class="wrapper">
        <div class="about">
          <h1 class="headline">About</h1>
          <picture>
            <img src="images/profile.jpg" class="about__image" />
          </picture>
          <h2 class="about__name">Kanika Dawalia</h2>
          <p class="about__p">
            "Ever since I can remember,I have always been drawn to colors and
            paintings.I grew up watching my uncle who did Fine Arts in college
            make sketches and portraits and use different sorts of colors and
            techniques.Since an early age,I have always been a fan of drawing
            and painting.I used to paint for relaxation of mind and peace when
            all kinds of bad thoughts would hover my mind." "Sketching just
            happened out of sheer jealousy.I was in the first year of my
            undergraduate engineering degree program where I began to envy the
            artwork of a fellow friend.At first it seemed an impossible task but
            still I decided to give it a try.I pushed myself to a point where I
            could reach his level of expertise and then eventually out of
            practice I got better with each sketch.I started with simple black
            and white sketches of famous celebrities then moved on to add some
            color into them.Adding color really gives a new life to the sketch.
            Having received no formal training in the field of art,I present to
            you my raw talent. Hope you like it."
          </p>
        </div>
      </div>
    </div>
    <!-- ---------------------------SlideShow section------------------------------- -->

    <div class="page-section">
      <div class="wrapper">
        <h1 class="headline">A Glimpse</h1>

        <div class="slideshow-container">
          <div class="mySlides fade">
            <img
              class="slideshow-container__image"
              src="images/magbeast.jpg"
              style="width:100%"
            />
            <div class="text">Caption Text</div>
          </div>

          <div class="mySlides fade">
            <img
              class="slideshow-container__image"
              src="images/srk.jpg"
              style="width:100%"
            />
            <div class="text">Caption Three</div>
          </div>

          <div class="mySlides fade">
            <img
              class="slideshow-container__image"
              src="images/thor--large.jpg"
              style="width:100%"
            />
            <div class="text">Caption Three</div>
          </div>

          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>

        <div style="text-align:center">
          <span class="dot" onclick="currentSlide(1)"></span>
          <span class="dot" onclick="currentSlide(2)"></span>
          <span class="dot" onclick="currentSlide(3)"></span>
        </div>
      </div>
    </div>
    <!-- ---------------------------Speed Drawing section------------------------------- -->

    <div class="page-section" id="Videos-section">
      <div class="speedDrawing">
        <div class="wrapper">
          <h1 class="headline">Speed Drawing</h1>
          <div class="speedDrawing__row">
            <div class="speedDrawing__column">
              <iframe
                class="speedDrawing__vid"
                src="https://youtube.com/embed/PBLuqtcQkps"
              >
              </iframe>
            </div>
            <div class="speedDrawing__column">
              <iframe
                class="speedDrawing__vid"
                src="https://youtube.com/embed/G3X67wUpfU8"
              >
              </iframe>
            </div>
          </div>

          <div class="speedDrawing__row">
            <div class="speedDrawing__column">
              <iframe
                class="speedDrawing__vid"
                src="https://youtube.com/embed/sD8FY6xMhFg"
              ></iframe>
            </div>
            <div class="speedDrawing__column">
              <iframe
                class="speedDrawing__vid"
                src="https://youtube.com/embed/OglUrk5Bqqc"
              ></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ---------------------------Pricing section------------------------------- -->
    <div class="page-section" id="Pricing-section">
      <div class="pricing">
        <div class="wrapper">
          <h1 class="headline">Pricing</h1>
          <p class="pricing__p">
            The prices below represent a single object. 15% will be added per
            addition subject. Please notify me if you would like a background
            included. Pricing will be determined by the amount of detail
            involved. Reference photos must be in good resolutions (No Blurry
            Images Please) Shipping Cost Extra
          </p>

          <div class="pricing__row">
            <div class="pricing__column">
              <h1 class="pricing__heading">Black &amp; White</h1>

              <table class="pricing__table">
                <tbody>
                  <tr>
                    <th>Sheet Size</th>
                    <th>Price</th>
                  </tr>
                  <tr>
                    <td>A4</td>
                    <td>₹1250</td>
                  </tr>
                  <tr>
                    <td>A3</td>
                    <td>₹1750</td>
                  </tr>
                  <tr>
                    <td>A2</td>
                    <td>₹2250</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="pricing__column">
              <h1 class="pricing__heading">Colored Sketch</h1>
              <table class="pricing__table">
                <tbody>
                  <tr>
                    <th>Sheet Size</th>
                    <th>Price</th>
                  </tr>
                  <tr>
                    <td>A4</td>
                    <td>₹1750</td>
                  </tr>
                  <tr>
                    <td>A3</td>
                    <td>₹2750</td>
                  </tr>
                  <tr>
                    <td>A2</td>
                    <td>₹3750</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ---------------------------Footer section------------------------------- -->
    <% include partials/footer.ejs %>

    <script src="scripts/App.js"></script>
  </body>
</html>
