<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700"
      rel="stylesheet"
      type="text/css"
    />
    <meta
      name="keywords"
      content="Kanika Dawalia, Sketching, Slice of life,asliceoflifetoday"
    />
    <link rel="stylesheet" href="styles/styles.css" />

    <title>Slice of life</title>
  </head>
  <body>
    <!-- ---------------------------------Site Header ----------------------------------  -->
    <% include partials/nav.ejs %>

    
      
    <!-- ----------------------------FAQ --------------------------------------- -->
    <div class="page-section">
      <div class="wrapper">
        <div class="ordertable" style="border: solid 2px orange; height:70%; width:50%;margin:50px auto;padding-top:50px;">

      <h1 style="text-align: center;">Login </h1>
      <body>
          <ul>
              <li>
                <a class="btn btn--orange"href="/auth/logout">Logout</a>
              </li>
              <br>
              <li>
                <a class="btn btn--orange" href="login">Login</a>
              </li>
              <br>
              <li>
                <a class="btn btn--orange" href="/home">Home</a>
              </li>
              <br>
            </ul>
            <main>
                <a class="btn btn--orange" href="/auth/google">Google+</a>
              </main>
            
      </body>
    </div>
  </div>
    </div>
    <!-- ---------------------------Footer section------------------------------- -->

    <% include partials/footer.ejs %>

    <script src="scripts/App.js"></script>
  </body>
</html>




<!--<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700"
      rel="stylesheet"
      type="text/css"
    />
    <meta
      name="keywords"
      content="Kanika Dawalia, Sketching, Slice of life,asliceoflifetoday"
    />
    <link rel="stylesheet" href="styles/styles.css" />

    <title>Gallery</title>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/auth/logout">Logout</a>
        </li>

        <li>
          <a href="/auth/login">Login</a>
        </li>

        <li>
          <a href="/home">Home</a>
        </li>
      </ul>
    </nav>
    <header>
      <main>
        <a class="google-btn" href="/auth/google">Google+</a>
      </main>
    </header>
  </body>
</html>
-->