<html>
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css'>
            <meta name="keywords" content="Kanika Dawalia, Sketching, Slice of life,asliceoflifetoday">
            <link rel="stylesheet" href="styles/styles.css">

        <title>Slice of life</title>

        <style>
          
        </style>
    </head>
    <body>
 <!-- ----------------------------Site Header ----------------------------------  -->
 <% include partials/nav.ejs %> 

<!-- -----------------------------Order-Success ----------------------------------------->
<h1>Thanks for getting in touch</h1>
<p>You have placed your order  <%= data.name %> on <%= data.date %></p>
<!-- ---------------------------Footer section------------------------------- -->
<% include partials/footer.ejs %> 

             <script src="scripts/App.js"></script>               
    </body>
</html>
